<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "logo.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I`m David</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, amet illo totam est, deserunt, velit pariatur magnam expedita temporibus quia ea reiciendis omnis minima. Dolore pariatur illum, unde molestias porro.

		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut id tenetur, eligendi similique sequi dicta distinctio placeat nihil rerum. Mollitia quidem iusto nesciunt ea rem similique enim, sequi deserunt. Odio?</p>
	</div>
</div>